snowflake==1.0.0
snowflake-ml-python==1.6.4
snowflake.core==1.0.0
snowflake-snowpark-python==1.26.0
streamlit==1.41.1
toml==0.10.2
unittest-xml-reporting==3.2.0
pre-commit==3.6.0
black==23.12.1
flake8==7.0.0
flake8-docstrings==1.7.0
flake8-bugbear==24.1.17
flake8-comprehensions==3.14.0
flake8-simplify==0.21.0
isort==5.13.2
mypy==1.8.0
bandit==1.7.6
types-toml==0.10.8.7
requests>=2.31.0
types-requests==2.31.0.20240106
types-setuptools==69.0.0.20240115
